<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>AntiSLAPP: Legal Defender</title>
  <link rel="stylesheet" type="text/css" href="/static/css/home.css">
</head>
<body>
<header class="header"><h1>AntiSLAPP: Legal Defender</h1></header>
<div class="wrapper">
  <article class="infoside">
    <h1>Pro bono legal aid</h1>
    <p><em>AntiSLAPP Legal Defender</em> is a proof-of-concept for an AI-enhanced robot lawyer. It is designed to help you put together a statement of defence when you’ve been sued for defamation.</p>
    <p>To get started, type “hello” in the conversation box on the right. The AI will lead you through a series of questions to put together a defence.  When it’s finished putting together a statement for you, you’ll receive a link to the statement to download.</p>
    <p>Don’t worry about fixing any typos or minor mistakes.  You can either ask the AI the restart the process (from the beginning) or just edit the statement when it’s done.</p>
    <p>One last point: this project is a work in progress and cannot yet replace professional legal advice.  Consider its conclusions to be advice, and the statement it draws up a starting point.</p>
  </article>
  <div class="chatside">
    <div class="chatwrap">
      <div class="chattop">A.I.</div>
      <div class="chatcrop">
        <img src="../static/img/test.png" width="400" height="540"><!-- -->
        <!--<iframe width="400" height="540" src="https://console.dialogflow.com/api-client/demo/embedded/riobot"></iframe><!-- -->
      </div>
    </div>
  </div>
</div>
<footer class="footer">Copyright &copy;2017 Riolet Corporation</footer>
</body>
</html>