/*
  =======  General  =======
*/
body, html, img, iframe {
  padding: 0;
  margin: 0;
  border: 0;
}
body {
  background: rgb(224, 242, 242);
}
html {
  background: rgba(212, 212, 216);
}
.header {
  background: rgba(208, 208, 216, 1);
  position: relative;
  text-align: center;
  padding: 10px;
  margin-bottom: 3em;
}
.header::after {
  content: "";
  display: block;
  position: absolute;
  bottom: -1em;
  left: 0px;
  width: 100%;
  height: 1em;
  background: linear-gradient(rgba(208, 208, 216, 0.7) 0%, rgba(208, 208, 216, 0.35) 33%, rgba(208, 208, 216, 0) 100%);
}
.footer {
  background: rgba(212, 212, 216, 1);
  display: block;
  padding: 2em 1em;
  position: relative;
  margin-top: 8em;
}
.footer::before {
  content: "";
  display: block;
  position: absolute;
  top: -4em;
  left: 0px;
  width: 100%;
  height: 4em;
  background: linear-gradient(rgba(212, 212, 216, 0) 0%, rgba(212, 212, 216, 0.5) 66%, rgba(212, 212, 216, 1) 100%);
}
.footrest {
  position: relative;
  margin: 0;
}
p {
  text-indent: 1em;
}
p + p {
  padding-top: 1em;
}
/*
  =======  Content Layout  =======
*/
.wrapper, .endorsement {
  padding: 0;
  max-width: 1127px;
  margin: auto;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}
.infoside {
  padding: 10px;
  flex: 1 50%;
}
.infoside p {
  margin: auto;
}
.infoside h1 {
  position: relative;
  margin: 1em 0;
  text-align: center;
}
.chatside {
  padding: 0;
  flex: 1 auto;
  position: relative;
}
.chatwrap {
  display: block;
  margin: auto;
  position: relative;
  width: 400px;
  margin-top: 2em;
  box-shadow: 0 0 50px -20px black;
}
.chatcrop {
  position: relative;
  height: 460px;
  overflow: hidden;
}
.chattop {
  background: #7ab5ce;
  background: linear-gradient(#7ab5ce 90%, #558ba2 100%);
  display: block;
  text-align: left;
  line-height: 2em;
  padding: 0 0.75em;
  color: white;
  font-size: 1.5em;
  height: 2em;
  font-family: sans;
}
.chatwrap img, iframe {
  position: relative;
  top: -80px;
}
@media all and (min-width: 800px) {
  .infoside { flex: 1 400px; }
  .chatside {
    flex: 2 auto;
    border-left: 2px solid rgba(0,0,0,0.05);
  }
  .infoside p {
    max-width: 450px;
  }
  .footrest {
    position: relative;
    margin: 0 auto;
    width: 50%;
  }
}
/*
  =======  Chat Messages  =======
*/
.chatbox {
  display: block;
  width: 400px;
  background: white;
}
.chatbox .chatmsgs {
  display: block;
  position: relative;
  height: 410px;
  overflow-y: scroll;
}
.chatbox .chatmsgs div {
  display: inline-block;
  white-space: pre-line;
  padding: 0.5em 1em;
  border-radius: 3px;
  margin: 0.75em;
  margin-bottom: 0;
  clear: both;
  font-family: sans;
}
.chatbox .chatmsgs div:last-child {
  margin-bottom: 0.5em
}
.chatmsgs .msg-user {
  float: left;
  background: #EFEFEF;
}
.chatmsgs .msg-ai {
  float: right;
  background: #85b54f;
  color: white;
}
.chatmsgs a {
  text-decoration: none;
  border-bottom: 2px solid white;
  color: white;
}
.chatmsgs a:hover {
  text-shadow: 0.07em 0.07em 0.25em rgba(0,0,0,0.75);
}
.chatbox .chatinput {
  clear: both;
  display: block;
  width: 100%;
  height: 50px;
  position: relative;
}
.chatinput input {
  box-sizing: border-box;
  border: 1px solid rgba(0,0,0,0.1);
  width: 100%;
  height: 100%;
  background: #F5F5F5;
  color: #666;
  font-size: 1.1em;
  padding: 0 1em;
}
/*
  =======  Endorsement  =======
*/
div.endorsement {
  margin-top: 4em;
  display: block;
  padding: 0 5em;
}
.endorsement div {
  margin: 0;
  border: 0;
  padding: 0;
}
.endorsement img {
  display: block;
  margin: auto;
}
.endorsement .image {
  float: left;
  padding: 1em 2em;
}
.endorsement .content {
  padding: 1em 2em;
}
.endorsement .citation {
  font-style: italic;
  text-align: right;
}
.clear {
  clear: both;
}
@media all and (max-width: 700px) {
  .endorsement .image {
    margin: auto;
    float: none;
    padding-bottom: 0;
  }
  .endorsement .content {
    padding-top: 0;
  }
  .endorsement {
    padding: 0 2em;
  }
}